@keyframes movePlus {
  // 0% {transform: translate(0, 0);}
  // 100% {transform: translate(-40vh, -70vh);}
  0% {
    transform: translate(0, 0) scale(1) ;
  }
  40% {
    transform:  translate(-16vh, -28vh) scale(1.4) ;
  }
  80% {
    transform: translate(-40vh, -70vh) scale(1) ; ;
    opacity:1;
  }
  82% {
    transform: translate(-40vh, -70vh) scale(.8) ; ;
    opacity:1;
  }
  100% {
    transform: translate(-40vh, -70vh) scale(3) ;
    opacity: 0;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes itemEditMode {
  0% {
    background: none;
  }

  100% {
    background: $color-secondary-light;
    // transform: scale(1.1);
  }
}
