.app-wrapper {
  display:flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  // position: relative;
}

.header {
  font-size: 2rem;
  background: $color-primary-dark;
  color: $color-black;
  text-align: center;
  width:100%;
  top: 0;
  line-height: 3.3rem;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5 );
}

.items-container {
  overflow-y: auto;
  overflow-x: hidden;
}
