// Colors
$color-primary-dark: #fff;
$color-primary-medium: #1799E8;
$color-primary-light: #96F3FA;
$color-secondary-light: #444;
$color-primary-accent: #99D498;
$color-background : #222;

$color-black: #000;
$color-white: #fff; 

//Font
$default-font-size: 1.6rem;
