// Colors
$color-primary-dark: #193257;
$color-primary-medium: #007F91;
$color-primary-light: #96F3FA;
$color-secondary-light: #FFE6CF;
$color-primary-accent: #F58426;


$color-black: #000;
$color-white: #fff; 

//Font
$default-font-size: 1.6rem;
