.item-form {
  background-color: $color-secondary-light;
  position: fixed;
  height: 30%;
  width: 100%;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  // margin: 0 auto;
  top:10%;
  opacity: .95;
  animation: zoomIn .3s ease-out;
  
  &__date {
    position: relative;
    &__label {
      position: absolute;
      margin-top: -1.5rem;
    }
    &__text {
      width:200px;
      // height: 50px;
      background-color: red;
      font-size: 2rem;
      text-align: center;
    }
    &__input {
      background-color: transparent;
      position: absolute;
      border: none;
      top:0;
      left:0;
      width: 100%;
      height: 100%;

      color: transparent;
      appearance: none;
      border-radius: 0;
      
      &::-webkit-calendar-picker-indicator,
      &::-webkit-datetime-edit {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: auto;
        height: auto;
        opacity:0;
        
      }
      
      
    }
  }

  &__description {
    &__label {
      position:absolute;
      margin-top: -1.5rem;
    }
  }

  &__buttons {
    display:flex;
    justify-content: space-evenly;
    width:80%;
    
    &--cancel {
      width:10rem;
    }
    
    &--save {
      width:10rem;
    }
  }
}