// Colors
$color-primary-dark: #fff;
$color-primary-medium: #1799e8;
$color-primary-light: #96f3fa;
$color-secondary-light: #444;
$color-primary-accent: #99d498;
$color-background: #222;

$color-black: #000;
$color-white: #fff;
$color-green: #99d498;
//Font
$default-font-size: 1.6rem;
