// .items-container {
//   margin-top: 5rem;
// }

.item {
  display:flex;
  margin-top: .5rem;
  font-size:2rem;
  margin: 0 1rem 1.5rem 1rem;
  font-family: 'Work Sans', sans-serif;
  

  &__counter {
    flex: 0 0 7rem;
    background-color: $color-primary-medium;
    color: $color-white;
    border-radius: 50%;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
    text-shadow: 1px 1px 2px  rgba(0,0,0,0.5);
    font-weight:bold;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self:center;
    padding: 1rem;
    &:before {
      content: "";
      display: block;
      padding-top: 100%; 	
    }
  }

  &__title {
    flex: 1 1 auto;
    align-self:center;
    padding-left: 1rem;
    color: $color-primary-dark;
  }

  &__edit-button {
    flex: 0 0 3rem;
    align-self:center;
    color:$color-primary-dark;
  }
}