// .items-container {
//   margin-top: 5rem;
// }
$margin-top-of-edit-section: 2.5rem;
$counter-size: 7rem;
$edit-section-height: 2.5rem;
$item-padding: 1rem;
$item-without-edit: $counter-size + 2 * $item-padding;
$item-with-edit: $item-without-edit + $edit-section-height + $margin-top-of-edit-section;

.item {
  position:relative;
  display:flex;
  flex-direction: column;

  background: rgb(194, 107, 187);
  padding: $item-padding;
  height: $item-without-edit;
  overflow: hidden;
  min-height: 0rem;
  transition: height .3s ease-out, opacity .3s ease-out;
  opacity:1;

  &--edit {
    height: $item-with-edit;
  }

  &--pre-animate {
    height: 0rem;
    opacity:0
    // padding: 0;
  }
  
}
.item-info {
  display:flex;
  // margin-top: .5rem;
  font-size:2rem;
  // margin: 0 1rem 1.5rem 1rem;
  font-family: 'Work Sans', sans-serif;
  
  &__counter {
    flex: 0 0 $counter-size;
    background-color: $color-primary-medium;
    color: $color-white;
    border-radius: 50%;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
    text-shadow: 1px 1px 2px  rgba(0,0,0,0.5);
    font-weight:bold;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self:center;
    // padding: 1rem;
    &:before {
      content: "";
      display: block;
      padding-top: 100%; 	
    }
  }
  
  &__title {
    flex: 1 1 auto;
    align-self:center;
    padding-left: 1rem;
    background-color: transparent;
    border: none;
    outline: none;
    color: $color-primary-dark;
  }
}
.item-edit {
  display: flex;
  padding: $margin-top-of-edit-section 1rem 0 1rem;
  color: $color-primary-dark;
  font-size: $edit-section-height;
  

  .icon {
    margin-right: 1rem;

    &--cancel {
      flex: 1;
      color: salmon; 
    }
  }
}
#overlay {
    //background: yellow;
    opacity: .5;
    position: fixed;
    width: 100vh;
    height: 100vh;
    top: 0;
    left: 0;
}